{% extends "main.html" %}
{% block body %}
			<div id="contentdiv" >
				<br/>
				<table>
					<td style="width:50px"> </td>
					<td>
						<table>
							<tr>
								<p>Write a review:</p>
							</tr>
							<tr>
								<form action="http://localhost:5000/play" method = "post">
									<textarea placeholder="Write a review here" id="inpts" name ="inpts" rows="10" cols="150" class="w3-button" style="border: double; text-align: left;">{{review|safe}}</textarea>
									<div style="height: 20px">
										<br/>
									</div>
									&nbsp;&nbsp;
									<button type="submit" class="w3-button w3-black" value = "submit">Analyze</button>
									&nbsp;&nbsp;
								</form>
							</tr>
						</table>
						</br>
						<div style="position:relative; margin-left:100px"><p>{{result|safe}}</p><div>
					</td>
					<td style="width:50px"> </td>
				</table>
				<br/>
			</div>
		
{% endblock %}